extends pagesmall

block title
	+title('CERT')

block menu
	+menu('cert-small.png', 'cert')

block content
	#content.container-fluid
		img(src="/img/cert-banner.jpg" width="100%")
		//-
			.section.row(style="background-color: #060;")
				.col-md-12
					h1(style="color: #fff; text-align: center; margin: 5px;") #[strong Bonny Doon CERT Team]

		.section.row
			.col-md-12
				+content('cert')

		.spacer
