extends pagesmall

block title
	+title('Donate')

block menu
	+menu('bdfd-small.png', 'donate')

block content
	div#content.container-fluid
		.section.row(style="background-color: #aa80ff;")
			.col-md-12
				h1(style="color: #111; text-align: center; margin: 5px;") #[strong Donate to Bonny Doon Fire and Rescue]

		.section.row
			.col-12(style="text-align: center; padding: 15px 5px;")
				h1 Thank you for supporting the Fire Team
			
			.col-12(style="padding: 10px;")
				+content('donate-thankyou')
			
		.spacer