extends pagesmall

block title
	+title('Equipment')

block menu
	+menu('bdfd-small.png', 'equipment')

block content
	#content.container-fluid
		.spacer
		.row
			.col-md-6 #[img.equip-img(src="/img/equip-e3211.png")]
			.col-md-6.equip
				h2 #[span.label.label-default E3211] Engine
				dl.dl-horizontal.well.bs-callout.bs-callout-danger
					dt Location
					dd McDermott Station

					dt Seats
					dd 6

					dt Water Capacity
					dd 650 Gallons

					dt Pump Capacity
					dd 1250 gpm

					dt Equipment
					dd
						p Self-Contained Breathing Apparatus #[span.badge x4]
						p Vehicle Extrication
						p Rope Rescue and Stokes Basket
						p Fans
						p Chainsaw #[span.badge x2]
						p Full Medical Kit
		hr
		.row
			.col-md-6 #[img.equip-img(src="/img/equip-wt3251.png")]
			.col-md-6.equip
				h2 #[span.label.label-default WT3251] Water Tender
				dl.dl-horizontal.well.bs-callout.bs-callout-danger
					dt Location
					dd McDermott Station

					dt Seats
					dd 2

					dt Water Capacity
					dd 2000 Gallons

					dt Pump Capacity
					dd 1250 gpm

					dt Equipment
					dd
						p Self-Contained Breathing Apparatus #[span.badge x2]
						p Portable Pump #[span.badge x2]
						p Portable Water Tank #[span.badge x2]
						p Full Medical Kit

					dt Hose
					dd 1000 ft Wildland
		hr
		.row
			.col-md-6 #[img.equip-img(src="/img/equip-r3261.png")]
			.col-md-6.equip
				h2 #[span.label.label-default R3261] Rescue
				dl.dl-horizontal.well.bs-callout.bs-callout-danger
					dt Location
					dd McDermott Station

					dt Seats
					dd 3

					dt Equipment
					dd
						p Self-Contained Breathing Apparatus
						p Vehicle Extrication
						p Rope Rescue and Wheeled Stokes
						p Air Bags and Cribbing
						p Full Medical Kit
						p Chainsaw
						p Scene Lighting and Generator
		hr
		.row
			.col-md-6 #[img.equip-img(src="/img/equip-u3291.png")]
			.col-md-6.equip
				h2 #[span.label.label-default U3291] Utility Vehicle
				dl.dl-horizontal.well.bs-callout.bs-callout-danger
					dt Location
					dd McDermott Station

					dt Seats
					dd 5

					dt Equipment
					dd
						p Wheeled Stokes Basket
						p Full Medical Kit
						p Chainsaw

		.spacer
