extends pagesmall

block title
	+title('FireSafe Council')

block menu
	+menu('firesafe-small.png', 'firesafe')

block content
	div#content.container-fluid
		.section.row(style="background-color: #c90;")
				.col-md-12
					h1(style="color: #111; text-align: center; margin: 5px;") #[strong Bonny Doon FireSafe Council]

		.section.row
			h1 [Under Construction]
		
		.section.row
			.col-md-12
				+content('firesafe')

		div.spacer
