div#footer.container-fluid
	img(src="/img/bdfd-footer.png" width="100%" style="max-width: 395px")
	p &copy; #[span#copyright-year] Bonny Doon Fire and Rescue
	a(href="https://www.netlify.com") #[img(src="https://www.netlify.com/img/global/badges/netlify-dark.svg")]
	script.
		$('#copyright-year').text(new Date().getFullYear());
