extends pagebig

mixin announcement(title, content, callout, icon)
	.col-md-3.col-sm-4.col-xs-12
		.announce.bt-callout(class="bt-callout-#{callout}")
			img(src="img/announce-#{icon}.png" style="padding-bottom: 5px;")
			h4= title
			div(style="text-align: center;")
				!= markdown(content)

mixin news(name, title, date, location, content)
	.col-md-12(style="margin-top: 20px;")
		div(style="border-bottom: 1px solid #ddd;")
			h3(style="margin-top: 10px;")= title
		div(style="text-align: right; margin: 10px;")
			i(style="color: #999;") Posted #[span= moment(date).format("MMMM DD, YYYY")]
		if location
			.row
				.col-md-8
					!= markdown(content)
				.col-md-4
					.well.well-sm
						div(id="newsmap-#{name}" style="height: 250px;")
						div(style="margin-top: 5px; text-align: right;")
							a.btn.btn-sm.btn-default(href="https://maps.google.com/maps?daddr=#{location.lat},#{location.lon}" target="_blank") Get Directions
						script.
							var map = L.mapbox.map('newsmap-#{name}', 'mapbox.streets').setView([#{location.lat}, #{location.lon}], 14);
							L.marker([#{location.lat}, #{location.lon}]).bindLabel('Location').addTo(map)
		else
			.row
				.col-md-12
					!= markdown(content)

block content
	#content.container-fluid
		.section
			.row
				.col-md-4.col-md-push-8
					.row
						.col-md-12.col-sm-4.bs-callout.bs-callout-danger(style="margin: 10px 0;")
							h4 Call 9-1-1
							p If you are experiencing an emergency of any kind.

						.col-md-12.col-sm-4.bs-callout.bs-callout-success(style="margin: 10px 0;")
							h4 Weather
							div(style="float: left;") #[h2#weather-icon(style="margin: 0 15px 0 0;")]
							p Go to our local weather page for the latest weather and forecast.
							div(style="text-align: right") #[a.btn.btn-sm.btn-default(href="/weather") Local Weather &raquo;]
							script.
								$.getJSON("https://api.openweathermap.org/data/2.5/weather?id=5330003&units=imperial&appid=6b4adbdb3d78a92459cc98cf769e31dc", function(data) {
									var timestamp = new Date().getTime() / 1000;
									var phase = (timestamp < data.sys.sunrise || timestamp > data.sys.sunset)? "night" : "day";
									$('#weather-icon').html('<i class="wi wi-owm-'+phase+'-'+data.weather[0].id+'"></i>');
								});

						.col-md-12.col-sm-4.bs-callout.bs-callout-primary(style="margin: 10px 0;")
							h4 Contact
							address
								p
									strong #[a(href="/stations#mcdermott") McDermott Station] #[br] 7276 Empire Grade, #[br]Bonny Doon, CA 95060
								p #[strong Phone: ] (831) 426-1561
							address
								p
									strong #[a(href="/stations#martin") Martin Station] #[br] 975 Martin Road, #[br]Bonny Doon, CA 95060
								p #[strong Phone: ] (831) 457-9378
						
						.col-md-12.col-sm-4.bs-callout.bs-callout-info(style="margin: 10px 0;")
							h4 Donation
							p #[strong Bonny Doon Fire and Rescue] depends on our community members to support the Fire Team. Every donation to our 501(c)(3) organization helps!
							div(style="text-align: right") #[a.btn.btn-sm.btn-default(href="/donate") Donation Page &raquo;]

				.col-md-8.col-md-pull-4
					+content('welcome')

		hr
		.section.row
			for a in contentful.announce
				if a.icon == 'Fire'
					+announcement(a.title, a.content, 'danger', 'fire')
				else if a.icon == 'Warning'
					+announcement(a.title, a.content, 'warning', 'warn')
				else if a.icon == 'Food'
					+announcement(a.title, a.content, 'info', 'food')
				else if a.icon == 'Leaf'
					+announcement(a.title, a.content, 'success', 'leaf')

		hr
		.section.row
			link(href="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css" rel="stylesheet")
			link(href="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css" rel="stylesheet")
			script(src="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js")
			script(src="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js")
			script.
				L.mapbox.accessToken = 'pk.eyJ1IjoiYWtsb2ZhcyIsImEiOiJjaXJsYWpiNm8wMDRyZmJuYmwwczlscG5iIn0.v_Mbo6gzZEqhHVNPqZiCRg';

			for news in contentful.news
				+news(news.name, news.title, news.date, news.location, news.content)

			.col-md-12
				div(style="text-align: right; border-top: 1px solid #ddd; margin-top: 10px; padding-top: 10px;") #[a.btn.btn-default(href="/news") Full News Archive &raquo;]

		.section.spacer

		.row(style="background: #ccc;")
			.col-md-4.col-sm-4(style="padding: 20px;")
				+content('links-1')
			.col-md-4.col-sm-4(style="padding: 20px;")
				+content('links-2')
			.col-md-4.col-sm-4(style="padding: 20px;")
				+content('links-3')

	script.
		function preload() {
			var srcs = [
				'/img/stns-mcdermott.jpg', '/img/stns-martin.jpg',
				'/img/equip-e3211.png', '/img/equip-r3261.png', '/img/equip-u3291.png', '/img/equip-wt3251.png',
				'/img/resp-banner.png', '/img/resp-banner-short.png',
				'/img/cert-banner.jpg'
			];
			var imgs = [];
			for (var i = 0; i < srcs.length; i++) {
				imgs[i] = new Image()
				imgs[i].src = srcs[i]
			}
		}

		var oldonload = window.onload;
		if (typeof oldonload != 'function') window.onload = preload;
		else window.onload = function() { oldonload(); preload(); }
