extends pagesmall

block title
	+title('News Archive')

block menu
	+menu('bdfd-small.png', 'news')

mixin news(name, title, date, location, content)
	.col-md-12(style="margin-top: 20px;")
		div(style="border-bottom: 1px solid #ddd;")
			h3(style="margin-top: 10px;")= title
		div(style="text-align: right; margin: 10px;")
			i(style="color: #900;") Posted #[span= moment(date).format("MMMM DD, YYYY")]
		if location
			.row
				.col-md-8
					!= markdown(content)
				.col-md-4
					.well.well-sm
						div(id="newsmap-#{name}" style="height: 250px;")
						div(style="margin-top: 5px; text-align: right;")
							a.btn.btn-sm.btn-default(href="https://maps.google.com/maps?daddr=#{location.lat},#{location.lon}" target="_blank") Get Directions
						script.
							var map = L.mapbox.map('newsmap-#{name}', 'mapbox.streets').setView([#{location.lat}, #{location.lon}], 14);
							L.marker([#{location.lat}, #{location.lon}]).bindLabel('Location').addTo(map)
		else
			.row
				.col-md-12
					!= markdown(content)

block content
	#content.container-fluid
		.section.row(style="background-color: #222;")
			.col-md-12
				h1(style="color: #ccc; text-align: center; margin: 5px;") #[strong News Archive]

		.section.row
			link(href="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css" rel="stylesheet")
			link(href="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css" rel="stylesheet")
			script(src="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js")
			script(src="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js")
			script.
				L.mapbox.accessToken = 'pk.eyJ1IjoiYWtsb2ZhcyIsImEiOiJjaXJsYWpiNm8wMDRyZmJuYmwwczlscG5iIn0.v_Mbo6gzZEqhHVNPqZiCRg';

			for news in contentful.newsall
				+news(news.name, news.title, news.date, news.location, news.content)

		.section.spacer
