mixin title(pagetitle)
	title Bonny Doon Fire and Rescue - #{pagetitle}

mixin menu(logo, active)
	nav#navbase.navbar.navbar-inverse.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(style="padding-top: 3px;") #[img(src="/img/#{logo}")]

			div#navbar.navbar-collapse.collapse
				ul#menu.nav.navbar-nav
					li #[a.nav-fire(href="/") Home]
					li(class="#{active=='team' ? 'active' : ''}") #[a.nav-fire(href="/team") Our Team]
					li(class="#{active=='stations' ? 'active' : ''}") #[a.nav-fire(href="/stations") Stations]
					li(class="#{active=='equipment' ? 'active' : ''}") #[a.nav-fire(href="/equipment") Equipment]
					li(class="#{active=='response' ? 'active' : ''}") #[a.nav-fire(href="/response") Response]
					li(class="#{active=='cert' ? 'active' : ''}") #[a.nav-cert(href="/cert") CERT]
					li(class="#{active=='firesafe' ? 'active' : ''}") #[a.nav-firesafe(href="/firesafe") FireSafe]

mixin content(name)
	for content in contentful.content
		if content.name == name
			.content-body
				!= markdown(content.content)

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		block title
		link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Open+Sans" rel="stylesheet")
		!= css()
		!= js()

	body(style="padding-top: 50px;")
		block menu
		block content
		include footer
