mixin content(name)
	for content in contentful.content
		if content.name == name
			.content-body
				!= markdown(content.content)

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title Bonny Doon Fire and Rescue
		link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Open+Sans" rel="stylesheet")
		!= css()
		!= js()

	body
		#header.container-fluid
			.well.well-sm.hidden-xs(style="width: 22vw; padding: 5px 10px; float: right; background-color: rgba(255, 255, 255, 0.7);")
				img(src="/img/bdfd-title.png" width="100%")
			.well.well-sm.hidden-lg.hidden-md.hidden-sm(style="width: 250px; padding: 0; float: right; background-color: rgba(255, 255, 255, 0.7);")
				img(src="/img/bdfd-title.png" width="100%")

		nav#navbase.navbar.navbar-inverse.navbar-static-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

				#navbar.collapse.navbar-collapse
					ul#menu.nav.navbar-nav
						li #[a.nav-fire(href="/") Home]
						li #[a.nav-fire(href="/team") Our Team]
						li #[a.nav-fire(href="/stations") Stations]
						li #[a.nav-fire(href="/equipment") Equipment]
						li #[a.nav-fire(href="/response") Response]
						li #[a.nav-cert(href="/cert") CERT]
						li #[a.nav-firesafe(href="/firesafe") FireSafe]

		block content

		include footer
