extends pagesmall

block title
	+title('Response')

block menu
	+menu('bdfd-small.png', 'response')

block content
	#content.container-fluid(style="background: #222;")
		img.hidden-sm.hidden-md.hidden-lg(src="/img/resp-banner-short.png" width="100%")
		img.hidden-xs(src="/img/resp-banner.png" width="100%")

		.section.row
			.col-md-12
				.row
					.col-sm-8(style="padding-top: 10px;")
						.btn-group.input-group(data-toggle="buttons" style="margin: auto;")
							label#show-30.btn.btn-dark #[input(type="radio")] 30 Days
							label#show-90.btn.btn-dark.active #[input(type="radio")] 90 Days
							label#show-180.btn.btn-dark #[input(type="radio")] 6 Months

						.well(style="margin: 20px; padding: 20px 5px; background-color: #999; border: none;")
							h3(style="margin: 10px 0; text-align: center; color: #000;")
								| Bonny Doon Fire Team #[br]
								| was dispatched #[span#resp-total(style="font-weight: bold")] times #[br]
								| in the last #[span#resp-time(style="font-weight: bold")]

						div(style="margin: 30px;")
							table(align="center")
								tr
									td.resp-legend-color(onmouseover="highlight('fire')" onmouseout="highlight(null)") #[div(style="background-color: #900;")]
									td.resp-legend-text Fire
									td.resp-legend-color(onmouseover="highlight('hazard')" onmouseout="highlight(null)") #[div(style="background-color: #c90;")]
									td.resp-legend-text Hazard
									td.resp-legend-color(onmouseover="highlight('medical')" onmouseout="highlight(null)") #[div(style="background-color: #009;")]
									td.resp-legend-text Medical
								tr
									td.resp-legend-color(onmouseover="highlight('traffic_collision')" onmouseout="highlight(null)") #[div(style="background-color: #909;")]
									td.resp-legend-text Traffic Collision
									td.resp-legend-color(onmouseover="highlight('public_assist')" onmouseout="highlight(null)") #[div(style="background-color: #090;")]
									td.resp-legend-text Public Assist
									td.resp-legend-color(onmouseover="highlight('other')" onmouseout="highlight(null)") #[div(style="background-color: #666;")]
									td.resp-legend-text Other

					.col-sm-4(style="padding-top: 10px; text-align: center;")
						svg#resp-pie(style="max-width: 300px; width: 100%; height: auto;" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio)
						
				.row
					.col-md-12(style="text-align: center;")
						.well(style="display: inline-block; background-color: #999; border: none; padding: 3px 30px; margin-bottom: 0; margin-top: 30px;")
							h4(style="text-align: center; color: #000;") Incidents grouped by #[strong Day of the Week]
						svg#resp-week(style="max-width: 1000px; width: 100%; height: auto;" width="500" height="200" viewBox="0 0 500 200" preserveAspectRatio)
				.row
					.col-md-12(style="text-align: center;")
						.well(style="display: inline-block; background-color: #999; border: none; padding: 3px 30px; margin-bottom: 0; margin-top: 50px;")
							h4(style="text-align: center; color: #000;") Incidents grouped by #[strong Hour of the Day]
						svg#resp-hour(style="max-width: 1000px; width: 100%; height: auto;" width="500" height="200" viewBox="0 0 500 200" preserveAspectRatio)
				style(type="text/css").
					.conn-fire { display: none; }
					.conn-hazard { display: none; }
					.conn-medical { display: none; }
					.conn-traffic_collision { display: none; }
					.conn-public_assist { display: none; }
					.conn-other { display: none; }
					.graphcount-fire { cursor: default; display: none; }
					.graphcount-hazard { cursor: default; display: none; }
					.graphcount-medical { cursor: default; display: none; }
					.graphcount-traffic_collision { cursor: default; display: none; }
					.graphcount-public_assist { cursor: default; display: none; }
					.graphcount-other { cursor: default; display: none; }

				script(src="/js/vendor/d3.js")
				script.
					var types = ["fire","hazard","medical","traffic_collision","public_assist","other"];
					var colors = {fire:"#900", hazard:"#c90", medical:"#00c", traffic_collision:"#909", public_assist:"#090", other:"#666"};
					var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
					var hour = ["12 - 4am","4 - 8am","8 - 12pm","12 - 4pm","4 - 8pm","8 - 12am"];
					var margin = 1;

					function highlight(type) {
						for (t in types) {
							var ontype = types[t];
							if (type == ontype) {
								d3.selectAll(".conn-"+ontype).style("display", "block");
								d3.selectAll(".piecount-"+ontype).style("display", "block");
								d3.selectAll(".graphcount-"+ontype).style("display", "block");
								d3.selectAll(".path-"+ontype).style("fill-opacity", "1")

							} else {
								d3.selectAll(".conn-"+ontype).style("display", "none");
								d3.selectAll(".graphcount-"+ontype).style("display", "none");
								if (type != null) {
									d3.selectAll(".piecount-"+ontype).style("display", "none");
									d3.selectAll(".path-"+ontype).style("fill-opacity", "0.7")

								} else {
									d3.selectAll(".piecount-"+ontype).style("display", "block");
									d3.selectAll(".path-"+ontype).style("fill-opacity", "1")
								}
							}
						}
					}

					function setpie(data) {
						var img = d3.select("#resp-pie");
						img.select("g").remove();

						var w = +img.attr("width");
						var h = +img.attr("height");
						var r = Math.min(w, h) / 2;

						var g = img.append("g").attr("transform", "translate(" + w / 2 + "," + h / 2 + ")");

						if (data != null) {
							var pie = d3.pie().value(function(d) { return d.value; }).padAngle(0.03);
							var path = d3.arc().outerRadius(r - 1).innerRadius(r - 20);

							var arc = g.selectAll("g").data(pie(data)).enter();
							var label = d3.arc().outerRadius(r - 25).innerRadius(r - 25);
							arc.append("path")
								.attr("class", function(d) { return "path-"+d.data.name; })
								.attr("onmouseover", function(d) { return "highlight('"+d.data.name+"')"; })
								.attr("onmouseout", function(d) { return "highlight(null)"; })
								.attr("d", path)
								.attr("fill", function(d) { return colors[d.data.name]; })
								.attr("stroke", "#000").attr("stroke-width", "0.4px");
							arc.append("text")
								.attr("class", function(d) { return "piecount-"+d.data.name; })
								.attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
								.attr("fill", "#ccc")
								.attr("font-size", "0.4em")
								.attr("font-weight", "bold")
								.attr("text-anchor", "middle")
								.attr("alignment-baseline", "central")
								.text(function(d) { return d.data.value; });
						}
					}

					function setgraph(id, data, colmax, xkeys, xlabels, groups) {
						data = data || {};
						colmax = colmax || 10;
						xkeys = xkeys || ["", ""];
						xlabels = xlabels || ["", ""];

						var img = d3.select(id);
						img.selectAll("g").remove();
						var w = +img.attr("width");
						var h = +img.attr("height");

						var x = d3.scaleLinear().domain([0, xkeys.length - 1]).range([0, 400]);
						var xa = d3.axisBottom(x).ticks(7).tickFormat(function(d) { return xlabels[d]; })
						var y = d3.scaleLinear().domain([colmax, 0]).range([0, 180]);
						var ya = d3.axisRight(y).tickSize(w - 50).ticks(3);

						var xag = img.append("g").classed("xaxis", true).attr("transform", "translate(40,180)");
						xag.call(xa);
						var yag = img.append("g").classed("yaxis", true).attr("transform", "translate(20,0)");
						yag.call(ya);

						img.selectAll(".xaxis > .tick text").attr("font-size", "0.7em").attr("fill", "#ccc").attr("font-weight", "bold");
						img.selectAll(".xaxis > .tick line, .xaxis > .domain").attr("stroke", "#ccc");
						img.select(".yaxis > .domain").remove();
						img.selectAll(".yaxis > .tick line").attr("stroke", "#ccc").attr("stroke-width", "0.1px");
						img.selectAll(".yaxis > .tick text").attr("x", -20).attr("font-size", "0.7em").attr("fill", "#ccc").attr("font-weight", "bold");

						if (groups != null) {
							stack = d3.stack().keys(groups.slice().reverse())(data);
							for (var grp = 0; grp < groups.length; grp++) {
								for (var xkey = 0; xkey < xkeys.length; xkey++) {
									stack[grp][xkey]["key"] = stack[grp].key;
								}
							}

							var boxw = (x(1) - x(0)) / 1.5 - margin * 2;
							var spacew = x(1) - x(0) - boxw;

							var g = img.append("g").attr("transform", "translate(20,0)");

							var conn = [];
							for (var grp = 0; grp < groups.length; grp++) {
								for (var xkey = 1; xkey < xkeys.length; xkey++) {
									var c = {
										xl: x(stack[grp][xkey-1].data.index) + boxw + margin,
										xr: x(stack[grp][xkey].data.index) + margin,
										yl1: y(stack[grp][xkey-1][0]),
										yl2: y(stack[grp][xkey-1][1]),
										yr1: y(stack[grp][xkey][0]),
										yr2: y(stack[grp][xkey][1]),
										grp: stack[grp].key
									};
									if (c.yl1 != c.yl2) { c.yl1 -= margin; c.yl2 += margin; }
									if (c.yr1 != c.yr2) { c.yr1 -= margin; c.yr2 += margin; }
									conn.push(c);
								}
							}

							g.append("g").selectAll("g").data(stack)
								.enter().append("g")
									.attr("fill", function(d) { return colors[d.key]; })
									.attr("class", function(d) { return "pathgroup-"+ d.key; })
								.selectAll("rect")
								.data(function(d) { return d; })
								.enter().append("rect")
									.attr("x", function(d) { return x(d.data.index) + margin; })
									.attr("y", function(d) { return y(d[1]) + margin; })
									.attr("height", function(d) { return Math.max(y(d[0]) - y(d[1]) - margin * 2, 0); })
									.attr("width", boxw)
									.attr("stroke", "#000").attr("stroke-width", "0.4px")
							
							g.append("g").selectAll("g").data(stack)
								.enter().append("g")
								.selectAll("text")
								.data(function(d) { return d; })
								.enter().append("text")
									.attr("class", function(d) { return "graphcount-"+d.key; })
									.attr("onmouseover", function(d) { return "highlight('"+d.key+"')"; })
									.attr("onmouseout", "highlight(null)")
									.attr("x", function(d) { return x(d.data.index) + boxw/2; })
									.attr("y", function(d) { return y(d[1]) + Math.max((y(d[0]) - y(d[1])) / 2, 0); })
									.attr("fill", "#ccc")
									.attr("font-size", "0.6em")
									.attr("font-weight", "bold")
									.attr("text-anchor", "middle")
									.attr("alignment-baseline", "central")
									.text(function(d) { var c = d[1]-d[0]; return c == 0? "" : c; });


							for (grp in groups) {
								g.selectAll(".pathgroup-"+groups[grp]+" > rect")
									.attr("class", "path-"+groups[grp])
									.attr("onmouseover", "highlight('"+groups[grp]+"')")
									.attr("onmouseout", "highlight(null)");
							}

							for (c in conn) {
								function moveto(x, y) { return "M "+x+" "+y; }
								function lineto(x, y) { return "L "+x+" "+y; }
								function curveto(x1, y1, x2, y2) { return "C "+(x1 + Math.sign(x2-x1)*spacew/2)+" "+y1+", "+(x2 - Math.sign(x2-x1)*spacew/2)+" "+y2+", "+x2+" "+y2; }
								var l = conn[c];
								g.append("path")
									.attr("d", [moveto(l.xl,l.yl1), curveto(l.xl,l.yl1,l.xr,l.yr1), lineto(l.xr,l.yr2), curveto(l.xr,l.yr2,l.xl,l.yl2), lineto(l.xl,l.yl1)].join(" "))
									.attr("fill", colors[l.grp]).attr("fill-opacity", "0.3").attr("class", "conn-"+l.grp);
							}
						}
					}

					function loaddata(days, text) {
						function loadgraph(url, id, xlabels) {
							$.getJSON(url+"?days="+days, function(d) {
								if (d["status"] != "ok") return;

								var data = [], totals = [];
								for (k in d.keys) {
									if (d.data[d.keys[k]] == null) d.data[d.keys[k]] = {};
									for (t in types) d.data[d.keys[k]][types[t]] = d.data[d.keys[k]][types[t]] || 0;
									data[+k] = d.data[d.keys[+k]];
									data[+k]["index"] = +k;
									totals.push(d3.sum(d3.values(d.data[d.keys[+k]])));
								}
								setgraph(id, data, d3.max(totals), d.keys, xlabels, types);
							});
						}

						$.getJSON("https://www.firerunsheet.net/data/crz.bonnydoon.32/total?days="+days, function(d) {
							if (d["status"] != "ok") return;

							var totals = [];
							for (var k in d.data) totals.push({name:k, value:d.data[k]});
							$('#resp-total').text(d.total);
							$('#resp-time').text(text);
							setpie(totals);
						});

						loadgraph("https://www.firerunsheet.net/data/crz.bonnydoon.32/freq-dayofweek", "#resp-week", week);
						loadgraph("https://www.firerunsheet.net/data/crz.bonnydoon.32/freq-hourofday", "#resp-hour", hour);
					}

					setpie(null);
					setgraph("#resp-week");
					setgraph("#resp-hour");

					$('#show-30').on('click', function() { loaddata(30, "30 days"); })
					$('#show-90').on('click', function() { loaddata(90, "90 days"); })
					$('#show-180').on('click', function() { loaddata(180, "6 months"); })
					loaddata(90, "90 days");

		.section.row(style="background: #fafafa;")
			.col-md-12.response
				+content('response')
