extends pagesmall

block title
	+title('Fire Stations')

block menu
	+menu('bdfd-small.png', 'stations')

block content
	div#content.container-fluid
		a(name="mcdermott")
		img(src="/img/stns-mcdermott.jpg" width="100%")
		div.section
			div.row
				div.col-md-8
					+content('station-mcdermott')
				div.col-md-4
					div.row
						div.col-md-12.col-sm-6.bs-callout.bs-callout-primary
							h4 Contact
							address
								p #[strong McDermott Station ] #[br] 7276 Empire Grade, #[br]Bonny Doon, CA 95060
								p #[strong Phone: ] (831) 426-1561
								p #[strong Lat/Lon: ] 37.057558, -122.122258
								p
									strong #[a(href="https://maps.google.com/maps?q=37.057558,-122.122258" target="_blank") Directions &raquo;]
						div#mcdermott-map.col-md-12.col-sm-6.bs-callout.bs-callout-success.stn-map

		div.section #[hr]

		a(name="martin")
		img(src="/img/stns-martin.jpg" width="100%")
		div.section
			div.row
				div.col-md-8
					+content('station-martin')
				div.col-md-4
					div.row
						div.col-md-12.col-sm-6.bs-callout.bs-callout-primary
							h4 Contact
							address
								p #[strong Martin Station ] #[br] 975 Martin Road, #[br]Bonny Doon, CA 95060
								p #[strong Phone: ] (831) 457-9378
								p #[strong Lat/Lon: ] 37.051047, -122.138602
								p
									strong #[a(href="https://maps.google.com/maps?q=37.051047,-122.138602" target="_blank") Directions &raquo;]
						div#martin-map.col-md-12.col-sm-6.bs-callout.bs-callout-success.stn-map

		div.spacer

	link(href="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css" rel="stylesheet")
	link(href="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css" rel="stylesheet")
	script(src="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js")
	script(src="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js")
	script.
		L.mapbox.accessToken = 'pk.eyJ1IjoiYWtsb2ZhcyIsImEiOiJjaXJsYWpiNm8wMDRyZmJuYmwwczlscG5iIn0.v_Mbo6gzZEqhHVNPqZiCRg';
		var mcdermott = L.mapbox.map('mcdermott-map', 'mapbox.streets').setView([37.057558, -122.122258], 14);
		L.marker([37.057558, -122.122258]).bindLabel('McDermott Fire Station').addTo(mcdermott).bindPopup('McDermott Fire Station');
		L.marker([37.051047, -122.138602]).bindLabel('Martin Fire Station').addTo(mcdermott).bindPopup('Martin Fire Station');

		var martin = L.mapbox.map('martin-map', 'mapbox.streets').setView([37.051047, -122.138602], 14);
		L.marker([37.051047, -122.138602]).bindLabel('Martin Fire Station').addTo(martin).bindPopup('Martin Fire Station');
		L.marker([37.057558, -122.122258]).bindLabel('McDermott Fire Station').addTo(martin).bindPopup('McDermott Fire Station');
