extends pagesmall

block title
	+title('Our Team')

block menu
	+menu('bdfd-small.png', 'team')

mixin slideshow(name)
	for media in contentful.media
		if media.name == name
			div#team-carousel.carousel.slide(data-ride="carousel" data-interval="false")
				ol.carousel-indicators
					li.active(data-target="#team-carousel" data-slide-to="0")
					for i in Object.keys(media.images)
						if (i != 0)
							li(data-target="#team-carousel" data-slide-to="#{i}")

				div.carousel-inner(role="listbox")
					for i in Object.keys(media.images)
						div(class="item #{i == 0? 'active' : ''}")
							img(src!=asset(media.images[i]))
							if (media.images[i].fields.description != null)
								div.carousel-caption #[span.team-caption= media.images[i].fields.description]

				a.left.carousel-control(href="#team-carousel" role="button" data-slide="prev")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#team-carousel" role="button" data-slide="next")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")

mixin profile(group, color)
	- for person in contentful.team
		if person.group == group
			div.media.col-md-4.col-sm-6
				div.media-left
					img.media-object.img-circle(src!=asset(person.photo) style="box-shadow: inset 0 0 0 4px #eee; border: 7px solid #{color}; border-radius: 70px;")
				div.media-body
					h3.media-heading(style="padding-top: 20px;")= person.name
					p= person.roles.join(", ")

block content
	div#content.container-fluid
		+slideshow('team-slideshow')
		div.spacer

		div.section.row
			div.col-md-12(style="margin-top: 25px;")
				h1 Captains
				div.row
					+profile('Captain', '#c00')
				hr
				h1 Firefighters
				div.row
					+profile('Firefighter', '#f90')
				hr
				h1 Medical Responders
				div.row
					+profile('Medical Responder', '#06f')
				
				div.well.well-lg.bs-callout.bs-callout-danger
					div(style="margin-bottom: 30px;")
						+content('join-team')
					div#joinus-contactme(style="max-width: 450px;")
						form#joinus-form(name="joinus-contact" netlify)
							div.input-group(style="margin-bottom: 20px;")
								span.input-group-addon #[b More Info]
								input.form-control#join-email(type="email" name="email" placeholder="name@email.com")
								span.input-group-btn
									button.btn.btn-default(type="submit") Submit
						script.
							$("#joinus-form").submit(function(e) {
								e.preventDefault();
								$.post("/", $(this).serialize()).then(function() {
									$('#joinus-contactme').empty().append($('<div />', {class: "alert alert-success", style: "padding-top: 6px; padding-bottom: 6px;", role: "alert", html: "<b>Great!</b> We'll be emailing you shortly."}))
								});
							});

				h1 Non-Profit Board Members
				div.row
					+profile('Board', '#939')

		div.row(style="padding: 10px;")
			

		div.section.row
			div.col-md-12
				+content('aux-members')

		div.spacer
