extends pagesmall

block title
	+title('Bonny Doon Weather')

block menu
	+menu('bdfd-small.png', 'weather')

block content
	div#content.container-fluid
		.row
			script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js")
			script(src="https://api.windytv.com/v2.3/boot.js" async defer)
			style(type="text/css" scoped).
				.weather-map { height: 60vh; width: 100%; position: relative; }
				.w { max-width: 25px; }

			div#windyty.weather-map
			script.
				function showClouds() { W.setOverlay('clouds'); W.overlays.clouds.setMetric('in/h'); }
				function showRain() { W.setOverlay('rain'); W.overlays.clouds.setMetric('in'); }
				function showWind() { W.setOverlay('wind'); W.overlays.wind.setMetric('mph'); }
				function showGust() { W.setOverlay('gust'); W.overlays.gust.setMetric('mph'); }
				function showTemp() { W.setOverlay('temp'); W.overlays.temp.setMetric('°F'); }
				function showPressure() { W.setOverlay('pressure'); W.overlays.pressure.setMetric('inHg'); }
				function showSwell() { W.setOverlay('swell'); W.overlays.swell.setMetric('ft'); }

				var windytyInit = {
					key: 'nQE9R3KMqKGF326',
					lat: 37.07,
					lon: -122.15,
					zoom: 8,
				}

				function windytyMain(map) {
					$('.logo').css('bottom', '10px').css('left', '60px');
					showClouds();
				}

		.row
			.col-md-8
				style(type="text/css" scoped).
					dt { padding: 3px; font-size: 120%; }
					dd { padding: 3px; font-size: 120%; }

				.row
					.btn-group.input-group(data-toggle="buttons" style="margin: 20px auto;")
						label#show-clouds.btn.btn-default.active #[input(type="radio")] #[i.wi.wi-cloud] Clouds
						label#show-rain.btn.btn-default #[input(type="radio")] #[i.wi.wi-rain] Rainfall
						label#show-wind.btn.btn-default #[input(type="radio")] #[i.wi.wi-windy] Wind
						label#show-gust.btn.btn-default #[input(type="radio")] #[i.wi.wi-strong-wind] Gusts
						label#show-temp.btn.btn-default #[input(type="radio")] #[i.wi.wi-thermometer] Temperature
						label#show-pressure.btn.btn-default #[input(type="radio")] #[i.wi.wi-barometer] Pressure
						label#show-swell.btn.btn-default #[input(type="radio")] #[i.wi.wi-flood] Swell
				.well
					h1(style="margin-top: 0; margin-left: 20px;")
						div#w-icon(style="float: left; margin: 5px;")
						div(style="float: left; margin: 5px;") #[span#w-weather(style="text-transform: capitalize;")] #[small in Bonny Doon right now]
						br(style="clear: left;")

					.row(style="margin: 20px;")
						dl.dl-horizontal(style="margin-bottom: 0;")
							dt Temperature
							dd #[span#w-temp] &deg;F
							dt Wind
							dd #[span#w-wind-speed] #[span#w-wind-dir]
							dt Cloud Cover
							dd #[span#w-clouds]
							dt Pressure
							dd #[span#w-pressure]
							dt Humidity
							dd #[span#w-rh]
						
				script.
					$('#show-clouds').on('click', showClouds)
					$('#show-rain').on('click', showRain)
					$('#show-wind').on('click', showWind)
					$('#show-gust').on('click', showGust)
					$('#show-temp').on('click', showTemp)
					$('#show-pressure').on('click', showPressure)
					$('#show-swell').on('click', showSwell)

					function getHeading(bearing) {
						var idx = Math.round(bearing / 22.5);
						if (idx < 0) idx += 16;
						return ["N","NNE", "NE","ENE","E", "ESE","SE","SSE", "S","SSW", "SW","WSW", "W","WNW", "NW","NNW", "N"][idx];
					}

					function renderString(data, func) {
						return data? func(data) : "";
					}

					
					$.getJSON("https://api.openweathermap.org/data/2.5/weather?id=5330003&units=imperial&appid=6b4adbdb3d78a92459cc98cf769e31dc", function(data) {
						var timestamp = new Date().getTime() / 1000;
						var phase = (timestamp < data.sys.sunrise || timestamp > data.sys.sunset)? "night" : "day";

						var weather = [];
						var icon = "";
						$.each(data.weather, function(index, item) {
							weather.push(item.description);
							icon += '<i class="wi wi-owm-'+phase+'-'+item.id+'"></i> ';
						});

						$('#w-icon').html(icon);
						$('#w-weather').text(weather.join(", "));
						$('#w-temp').text(Math.round(data.main.temp));
						$('#w-wind-speed').text(renderString(data.wind.speed, function(speed) { return Math.round(speed)+" mph"; }));
						$('#w-wind-dir').html(renderString(data.wind.deg, function(deg) { return '<i class="wi wi-wind from-'+Math.round(deg)+'-deg"></i>'}));
						$('#w-clouds').text(renderString(data.clouds.all, function(clouds) { return clouds+"%"; }));
						$('#w-pressure').text(renderString(data.main.pressure, function(pressure) { return (pressure / 33.8638866667).toFixed(1)+" inHg"; }));
						$('#w-rh').text(renderString(data.main.humidity, function(rh) { return rh+"%"; }));
					});

			.col-md-4
				.bs-callout.bs-callout-info
					h4 Weather Links
					ul
						li #[a.black-link(href="https://radar.weather.gov/ridge/radar.php?rid=MUX&product=NCR&overlay=11101111&loop=yes") NWS Doppler Radar (MUX)]
						li #[a.black-link(href="https://mesonet.agron.iastate.edu/sites/current.php?station=BNDC1&network=CA_DCP") Ben Lomond RAWS]
						li #[a.black-link(href="http://www.bonnydoonweather.com") Bonny Doon Weather]
						li #[a.black-link(href="http://d-mason.net/Current_Vantage_Pro.html") Pineridge Weather Station]
		
		.row
			.col-md-12
				.well
					style(type="text/css" scoped).
						.forecast-scroll { overflow-x: scroll; }
						.table { width: auto !important; }
						.table td { border-top: none !important; }

						.sep { border-left: 1px solid #bbb; }
						
						.colgroup { font-weight: bold; overflow: hidden; }
						.rowname { width: 80px; display: inline-block; font-weight: bold; text-align: right; }
						.rowicon { font-weight: bond; text-align: center; }
						.rowunit { font-size: 75%; vertical-align: middle !important; }
						
						.phase-day {}
						.phase-night { background-color: #e5e5e5; }
						.cell { width: 22px; text-align: center; overflow: hidden; }

						.wi-wind { font-size: 130%; }

					h1(style="margin: 0 20px;") Forecast
					.forecast-scroll
						table.table.table-condensed(style="margin-bottom: 0;")
							tbody#forecast

				script(src="/js/vendor/rainbowvis.js")
				script.
					function getNumber(root, item, func) {
						return root && root[item]? func(root[item]) : 0;
					}

					var tempvis = new Rainbow();
					tempvis.setSpectrum('#9f739a','#9b83ab','#8b9eb7','#8dc2cb','#77cacd','#73afc3','#79acd0','#7ca0d0','#87b778','#a1c17c','#becd78','#d7d678','#debd65','#e0ad70','#e19165','#f18c8c');
					tempvis.setNumberRange(-32, 105);
					function colorTemp(temp) {
						return '#'+tempvis.colourAt(temp);
					}

					var rainvis = new Rainbow();
					//rainvis.setSpectrum('#77a5c8','#60b582','#8bbf59','#acbf54','#c8a655','#d07a54','#d55959');
					rainvis.setSpectrum('#94bad7','#7898ea');
					rainvis.setNumberRange(0, 2);
					function colorRain(rain) {
						return '#'+rainvis.colourAt(rain);
					}

					var windvis = new Rainbow();
					windvis.setSpectrum('#8795db','#7eb4d9','#79c8cb','#70c387','#78c678','#9ec96c','#cbb568','#cb9967','#c47677','#c35f8e','#b76aaf','#8d7ecf');
					windvis.setNumberRange(0, 55);
					function colorWindspeed(speed) {
						return '#'+windvis.colourAt(speed);
					}

					var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
					$.getJSON("https://api.openweathermap.org/data/2.5/forecast?id=5330003&units=imperial&appid=6b4adbdb3d78a92459cc98cf769e31dc", function(data) {
						var days = [];
						var current = null;
						$.each(data.list, function(index, item) {
							var date = new Date(item.dt * 1000);
							if (current == null || current.day != date.getDay()) {
								current = {day: date.getDay(), obs: []};
								days.push(current);
							}

							current.obs.push({
								hour: date.getHours(),
								icon: item.weather[0].id,
								temp: Math.round(item.main.temp),
								rain: getNumber(item.rain, '3h', function(rain) { return rain.toFixed(1); }) || getNumber(item.snow, '3h', function(snow) { return snow.toFixed(1); }),
								windspeed: Math.round(item.wind.speed),
								winddir: Math.round(item.wind.deg)
							});
						});

						var wday = [], hour = [], icon = [], temp = [], rain = [], windspeed = [], winddir = [];
						$.each(days, function(d_idx, day) {
							wday.push('<td colspan="'+day.obs.length+'" class="sep" style="padding-left: 0; padding-right: 0;"><div class="colgroup" style="width: '+(day.obs.length * 32)+'px;">&nbsp;&nbsp;'+weekday[day.day]+'</div></td>');

							$.each(day.obs, function(s_idx, sample) {
								var phase = (sample.hour <= 6 || sample.hour >= 20)? "night" : "day";

								hour.push('<td class="'+(s_idx == 0? 'sep' : '')+' phase-'+phase+'"><div class="cell">'+sample.hour+'</div></td>');
								icon.push('<td class="'+(s_idx == 0? 'sep' : '')+' phase-'+phase+'"><div class="cell"><i class="wi wi-owm-'+phase+'-'+sample.icon+'"></i></div></td>');
								temp.push('<td class="'+(s_idx == 0? 'sep' : '')+'" style="background-color: '+colorTemp(sample.temp)+';"><div class="cell">'+sample.temp+'&deg;</div></td>');
								rain.push('<td class="'+(s_idx == 0? 'sep' : '')+' phase-'+phase+'"'+(sample.rain > 0? ' style="background-color: '+colorRain(sample.rain)+';"' : '')+'><div class="cell">'+(sample.rain > 0? sample.rain : '')+'</div></td>');
								windspeed.push('<td class="'+(s_idx == 0? 'sep' : '')+'"'+(sample.windspeed > 0? ' style="background-color: '+colorWindspeed(sample.windspeed)+';"' : '')+'><div class="cell">'+(sample.windspeed > 0? sample.windspeed : '')+'</div></td>');
								winddir.push('<td class="'+(s_idx == 0? 'sep' : '')+' phase-'+phase+'"><div class="cell"><i class="wi wi-wind from-'+sample.winddir+'-deg"></i></div></td>');
							});
						});

						$('#forecast').append('<tr><td></td><td></td><td></td>'+wday.join('')+'</tr>');
						$('#forecast').append('<tr><td class="rowname">Time</td><td class="rowicon"><span class="glyphicon glyphicon-time"></span></td><td class="rowunit">h</td>'+hour.join('')+'</tr>');
						$('#forecast').append('<tr><td></td><td></td><td></td>'+icon.join('')+'</tr>');
						$('#forecast').append('<tr><td class="rowname">Temp</td><td class="rowicon"><i class="wi wi-thermometer"></i></td><td class="rowunit">&deg;F</td>'+temp.join('')+'</tr>');
						$('#forecast').append('<tr><td class="rowname">Rain</td><td class="rowicon"><i class="wi wi-rain"></i></td><td class="rowunit">in</td>'+rain.join('')+'</tr>');
						$('#forecast').append('<tr><td class="rowname">Wind</td><td class="rowicon"><i class="wi wi-strong-wind"></i></td><td class="rowunit">mph</td>'+windspeed.join('')+'</tr>');
						$('#forecast').append('<tr><td></td><td></td><td></td>'+winddir.join('')+'</tr>');

						/*
						$.each(days, function(d_idx, day) {
							//console.log($('#cell-d'+d_idx).width());
							//$('#colgroup-d'+d_idx).width($('#cell-d'+d_idx).width() * day.obs.length);
							//$('#colgroup-d'+d_idx).css("display", "block");
							//console.log($('#colgroup-d'+d_idx));
							//console.log($('#colgroup-d'+d_idx));
						});*/
					});
		
		.row
			.col-md-12(style="text-align: right;")
				span &copy; data courtesy of #[a(href="https://www.windytv.com") WindyTV] and #[a(href="https://openweathermap.org") OpenWeatherMap]
