/*@import '_settings'*/

normalize-css()
base()

body
  padding: 0px
  background: #666

#header
  padding-right: 5%
  padding-top: 25vh
  position: relative
  height: 40vh
  background-image: url('/img/main-banner.jpg')
  background-size: cover
  background-position: center

#navbase
  margin-bottom: 0px

#navbar[aria-expanded="true"] > #menu
  display: block
  float: none

#navbar[aria-expanded="true"] > #menu > li > a
  border: 0 !important
  text-align: left

.collapsing > #menu
  display: none

#menu
  display: inline-block
  vertical-align: top
  float: none

.navbar-inverse
  background-image: linear-gradient(#222, #333)
  box-shadow: 0 10px 20px -6px #333

.navbar-collapse
  text-align: center

.nav-fire, .nav-cert, .nav-firesafe
  font-family: 'Archivo Narrow'
  font-size: 18px
  border-bottom: thick solid transparent

.active > a.nav-fire
  color: #c00 !important
  border-bottom: thick solid #f00

.active > a.nav-cert
  color: #093 !important
  border-bottom: thick solid #093

.active > a.nav-firesafe
  color: #c90 !important
  border-bottom: thick solid #c90

a.nav-fire:hover
  color: #c00 !important
  background-color: #080808 !important
  border-bottom: thick solid #f00

a.nav-cert:hover
  color: #093 !important
  background-color: #080808 !important
  border-bottom: thick solid #093

a.nav-firesafe:hover
  color: #c90 !important
  background-color: #080808 !important
  border-bottom: thick solid #c90

#content
  @media (min-width: 1100px)
    margin-top 30px
  max-width: 1100px
  background: #fafafa
  padding: 0
  box-shadow: -50px 0 60px -3px #333, 50px 0 60px -3px #333

.content-body img
  max-width: 100%
  max-height: 100%

.row
  margin: 0

.section
  padding: 8px

address > p
  margin-bottom: 0

.carousel
  background-color: #222

.carousel-inner > .item > img
  margin: 0 auto
  width: auto
  height: 60vw
  max-height: 475px

/*
.form-control:focus
  border-color: #f00
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)
*/

/* Index */
.announce img
  display: block
  margin: 0 auto

.announce h4
  text-align: center

/* Our Team */

.team-caption
  padding: 5px
  border-radius: 5px
  background: #222


/* Stations */

.stn-map
  height: 250px

/* Equipment */

.equip
  padding-left: 30px
  padding-right: 30px

.equip dd > p
  margin: 0

.equip-img
  @media (max-width: 1100px)
    width: 100%

/* Response */

/*
.response
  color: #ccc
*/

.resp-legend-color
  padding: 3px
  text-align: center

.resp-legend-color div
  width: 25px
  height: 25px
  border: 1px solid #222

.resp-legend-text
  padding: 3px
  text-align: left
  font-weight: bold
  color: #ccc
  width: 25%

.btn-dark
  border-color: #444
  background-color: #666
  color: #ccc

.btn-dark:hover
  background-color: #888

.btn-dark.active
  background-color: #888

.spacer
  height: 50px

#footer
  text-align: center
  background-image: linear-gradient(#bbb, #ddd)
  padding: 50px


/* Weather */

.black-link
  color: black

.black-link:hover
  text-decoration: underline;


